/* global */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
    url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
    url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/') format('woff2'),
    url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
    url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* Custom Property */
:root{
    --font-family-text:'Nunito-sans','Arial',"Sans-serif";
    --basic-color:#f2f2f2;
    --text-color:#111517;
    --bg-color:#fff;
    --placeholder-color:#848484;
}

*{box-sizing: border-box;}

html {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-family:var(--font-family-text);
    color:var(--text-color);
    background-color:var(--basic-color);
    flex-wrap: nowrap;
}
.dark-mode-click{
    --basic-color:#202c36;
    --text-color:#fff;
    --bg-color:#2b3844;
    --placeholder-color:#fff;
    
    .
}
img{
    height:auto;
    max-width: 100%;   
}
*:focus{
    outline: 3px dashed skyblue;
    outline-offset: 3px;
}
.container{
    max-width: 1320px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* site-header */
.site-header {
    background-color:var(--bg-color);
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-question {
    font-family:var(--font-family-text);
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 23px;
}
.dark-mode {
    border: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    color:var(--text-color);
    font-family:var(--font-family-text);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.dark-mode::before{
    background-image:url(../img/moon.svg);
    content:"";
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    margin-right: 11px;
}

/* site-main */
.site-main {
}
.search-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    background:var(--bg-color);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    padding: 18px 270px 18px 74px;
    border:none;
    margin-top: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.list{
    padding: 18px 25px 18px 24px;
    background: var(--bg-color);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    margin-top: 48px;
    border:0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-family-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.different-countries {
}
.flag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 48px;
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.flag-list-item {
    border-radius: 5px;
    background-color: var(--bg-color);
    width: 264px;
    height: 336px;
    margin-right: 74px;
    margin-bottom: 72px;
}
.flag-list-item:nth-child(4n){
    margin-right: 0;
}
.link-wrapper {
}
.flag-img{
    border-radius:5px 5px 0px 0px;
}

.about-country {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 46px;
}
.main-link{
    
    font-family:var(--font-family-text);
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding-bottom: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.about-country-text {
    padding-top: 8px;
    margin: 0;
}
.avatar {
    font-weight: 600;
}

/* site-main */
.site-main {
    background-color: var(--basic-color);
}
.list-wrapper {
    display: flex;
    align-items: center;
    padding-top: 80px;
}
.left-wrapper {
}
.flag-of-belgium{
    display:block;
    margin-top: 80px;
    background-color: #808080;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
    border-radius: 10.0057px;
    
}
.to-back {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 6px;
    display: flex;
    width: 136px;
    padding-bottom: 10px;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color:var(--text-color);
    display: flex;
    padding: 10px 39px 10px 32px;
}
.to-back::before{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size:contain;
    margin-right: 10px;
    background-image:url(../img/cursor.svg);
    background-position: center center;
    content:"";
    
}
.right-wrapper {
    margin-left: 120px;
    padding-top: 129px;
}
.main-theme {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: var(--text-color);
    margin: 0;
    padding-bottom: 23px;
}
.information-list-wrapper {
    display: flex;  
}
.information-list {
    list-style: none;
    padding: 0;
    margin-right: 120px;
    
}
.left-information-list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.right-information-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    list-style: none;
    padding: 0;
}

.bottom-list {
    display: flex;
}
.bottom-list-item {
    font-weight: 600;
}
.bottom-text{
    font-weight:300;
}
.bottom-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.bottom-list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
}
.border{
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 27px;
    padding-left: 27px;
    background: var(--bg-color);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
    margin-right: 10px;
}

.bottom-theme {
    margin-right: 42px;
}
.search-input::placeholder{
    color:var(--placeholder-color);
}
.list::placeholder{
    color:var(--placeholder-color);
}